.fancy-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    height: 3rem;

    border-radius: 6rem;
    box-shadow: 0 .8rem .6rem -.6rem rgba(0, 0, 0, 0.507);

    user-select: none;

    margin: 1Rem;
    font-weight: bold;

    mix-blend-mode: difference;

    &.pressed {
        animation: zoom .1s;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    @keyframes zoom {
        from {
            transform: scale(1, 1);
        }

        to {
            transform: scale(.98, .98);
            box-shadow: 0rem 0rem .2rem black;
            opacity: .7;
        }
    }
}
